.compare {
	padding-top: 70px;
	padding-bottom: 120px;
	&__title {
		max-width: 740px;
		margin: 80px 0 92px 322px;
	}
	&__table {
		table {
			width: 100%;
			thead {
				tr {
					th {
						width: 25%;
						height: 58px;
						border-bottom: 1px solid #212121;
						text-align: left;
						font-weight: 500;
						font-size: 17px;
						line-height: 100%;
						letter-spacing: 0.01em;
						color: #151515;
						&:first-child {
							border-color: #fff;
						}
					}
				}
			}
			tbody {
				tr {
					td {
						width: 25%;
						height: 78px;
						border-bottom: 1px solid #ebebeb;
						text-align: left;
					}
				}
			}
		}
	}
	&__caption {
		font-weight: 500;
		font-size: 17px;
		line-height: 126%;
		letter-spacing: 0.01em;
		color: #151515;
	}
	&__check {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 15px;
		line-height: 140%;
		letter-spacing: 0.006em;
		color: #151515;
		img {
			width: 17px;
			height: 17px;
			display: block;
			object-fit: contain;
			margin-right: 16px;
		}
		span {
			width: calc(100% - 33px);
		}
	}
	&__close {
		display: flex;
		align-items: center;
		font-size: 15px;
		line-height: 140%;
		letter-spacing: 0.006em;
		color: #4d4d4d;
		img {
			width: 16px;
			height: 16px;
			display: block;
			object-fit: contain;
			margin-right: 16px;
		}
		span {
			width: calc(100% - 32px);
		}
		small {
			display: block;
			font-size: 13px;
		}
	}
}
@media (max-width: 1335px) {
	.compare {
		padding-top: 60px;
		padding-bottom: 60px;
		&__title {
			max-width: 595px;
			margin: 60px 0 60px 244px;
		}
	}
}
@media (max-width: 1010px) {
	.compare {
		padding: 50px 0px;
		&__title {
			max-width: 450px;
			margin: 30px 0 30px 175px;
		}
		&__table {
			width: 850px;
			table {
				width: 100%;
				thead {
					tr {
						th {
							height: 50px;
							font-size: 15px;
						}
					}
				}
				tbody {
					tr {
						td {
							width: 25%;
							height: 78px;
							border-bottom: 1px solid #ebebeb;
							text-align: left;
						}
					}
				}
			}
		}
		&__caption {
			font-size: 15px;
		}
		&__check {
			font-size: 14px;
		}
		&__close {
			font-size: 13px;
		}
	}
}
@media (max-width: 760px) {
	.compare {
		padding: 20px 0px;
		&__title {
			margin: 20px 0px;
		}
		&__table {
			width: 850px;
			table {
				width: 100%;
				thead {
					tr {
						th {
							height: 50px;
							font-size: 14px;
						}
					}
				}
				tbody {
					tr {
						td {
							width: 24%;
							height: 78px;
							border-bottom: 1px solid #ebebeb;
							text-align: left;
						}
					}
				}
			}
		}
		&__caption {
			font-size: 15px;
		}
		&__check {
			font-size: 13px;
		}
		&__close {
			font-size: 13px;
		}
	}
}
