.editor {
	position: absolute;
	top: 0;
	left: 0;
	padding: 55px 55px;
	width: 100%;
	&__tabs {
		width: 100%;
		border-bottom: 1px solid #f1f1f1;
		opacity: 0;
		&--active {
			opacity: 1;
		}
	}
	&__tab {
		max-width: 170px;
		padding: 20px 20px 20px;
		background: #f1f0f0;
		text-align: center;
		font-size: 17px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px 5px 0 0;
		font-weight: 500;
		img {
			position: relative;
			top: -1px;
			padding-right: 9px;
		}
	}
	&__workspace {
		padding-top: 55px;
		font-family: "IBM";
		font-size: 17px;
		line-height: 100%;
		letter-spacing: 0.01em;
		color: #151515;
	}
	&__path {
		margin-bottom: 25px;
		a {
			display: inline-block;
			color: #151515;
			transition: color 0.3s;
			&:hover {
				color: #e15d13;
				transition: color 0.3s;
			}
		}
	}
	&__code {
		font-size: 16px;
		color: #4d4d4d;
		display: none;
		&--active {
			display: block;
		}
	}
	&__code-line {
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 15px;
	}
	&__code-line-number {
		width: 43px;
	}
	&__code-line-text {
		img {
			margin-right: 10px;
		}
		a {
			color: #4d4d4d;
			transition: color 0.3s;
			&:hover {
				color: #e15d13;
				transition: color 0.3s;
			}
		}
	}
}
@media (max-width: 1335px) {
	.editor {
		padding: 35px;
		&__tab {
			max-width: 150px;
			padding: 15px;
			font-size: 16px;
		}
		&__workspace {
			padding-top: 30px;
			font-size: 15px;
		}
		&__code {
			font-size: 14px;
			&-line {
				margin-bottom: 10px;
			}
		}
	}
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
	.editor {
		padding: 25px 20px;
		&__tab {
			max-width: 120px;
			padding: 10px;
			font-size: 16px;
		}
		&__workspace {
			padding-top: 30px;
			font-size: 14px;
		}
		&__code {
			font-size: 13px;
		}
	}
}
