.editor{
    position: absolute;
    top: 0;
    left: 0;
    padding: 55px 55px;
    width: 100%;
    &__tabs{
        width: 100%;
        border-bottom: 1px solid #F1F1F1;
        opacity: 0;
        &--active{
            opacity: 1;
        }
    }
    &__tab{
        max-width: 170px;
        padding: 20px 20px 20px;
        background: #f1f0f0;
        text-align: center;
        font-size: 17px;
        display: flex; 
        align-items: center;
        justify-content: center;
        border-radius: 5px 5px 0 0 ;
        font-weight: 500;
        img{
            position: relative;
            top:-1px;
            padding-right: 9px;
        }
    }
    &__workspace{
        padding-top: 55px;
        font-family: 'IBM';
        font-size: 17px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #151515;
    }
    &__path {
        margin-bottom: 25px;
        a{
            display: inline-block;
            color: #151515;
            transition: color 0.3s;
            &:hover{
                color: #E15D13;
                transition: color 0.3s;
            }
        }
    }
    &__code {
        font-size: 16px;
        color: #4D4D4D;
        display: none;
        &--active{
            display: block;
        }
    }
    &__code-line {
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 15px;
    }
    &__code-line-number {
        width: 43px;
    }
    &__code-line-text {
        img{
            margin-right: 10px;
        }
        a{
            color: #4D4D4D;
            transition: color 0.3s;
            &:hover {
              color: #E15D13;
              transition: color 0.3s;
            }
        }
    }
}