.footer {
	padding-top: 32px;
	padding-bottom: 28px;
	background-color: #131313;
	&__top {
		padding-bottom: 20px;
		border-bottom: 1px solid #4d4d4d;
	}
	&__menu {
		ul {
			display: flex;
			margin: 0px -20px;
			li {
				margin: 0px 20px;
				a {
					font-size: 15px;
					line-height: 100%;
					letter-spacing: 0.006em;
					color: #8c8c8c;
					transition: color 0.3s;
					&:hover {
						color: #e15d13;
						transition: color 0.3s;
					}
				}
			}
		}
	}
	&__bottom {
		padding-top: 24px;
		font-size: 12px;
		line-height: 100%;
		letter-spacing: 0.016em;
		color: #8c8c8c;
		a {
			color: #8c8c8c;
		}
	}
	&__confidentiality {
		display: inline-flex;
		transition: color 0.3s;
		&:hover {
			color: #e15d13;
			transition: color 0.3s;
		}
	}
	&__developer {
		margin-left: 140px;
		&-logo {
			width: 120px;
			margin-left: 37px;
		}
	}
}
@media (max-width: 1335px) {
}
@media (max-width: 1010px) {
	.footer {
		padding-top: 30px;
		padding-bottom: 25px;
		&__top {
			padding-bottom: 15px;
			flex-wrap: wrap;
		}
		&__menu {
			ul {
				margin: 0px -10px;
				li {
					margin: 0px 10px;
					a {
						font-size: 13px;
					}
				}
			}
		}
		&__bottom {
			padding-top: 20px;
			flex-wrap: wrap;
		}
		&__developer {
			margin-left: 60px;
			&-logo {
				width: 100px;
				margin-left: 30px;
			}
		}
	}
}
@media (max-width: 760px) {
	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
		&__top {
			padding-bottom: 15px;
		}
		&__menu {
			width: 100%;
			margin-top: 20px;
			ul {
				flex-wrap: wrap;
				margin: 0px;
				li + li {
					margin-top: 10px;
				}
				li {
					width: 100%;
					margin: 0px;
					a {
						font-size: 14px;
					}
				}
			}
		}
		&__bottom {
			padding-top: 20px;
			flex-wrap: wrap;
		}
		&__last {
			flex-wrap: wrap;
			margin-top: 20px;
		}
		&__confidentiality {
			width: 100%;
			margin-bottom: 20px;
		}

		&__developer {
			margin-left: 0px;
			&-logo {
				margin-left: 15px;
			}
		}
	}
}
