.main-about {
	padding-top: 140px;
	padding-bottom: 235px;
	&__wrap {
		align-items: flex-start;
		padding: 0px 55px 0px 160px;
	}
	&__left {
		width: 204px;
	}
	&__top {
		width: 166px;
		height: 166px;
		margin: 0px auto;
		position: relative;
	}
	&__ilya {
		width: 100%;
		height: 100%;
	}
	&__painting {
		position: absolute;
		width: 147px;
		height: 96px;
		right: -48px;
		bottom: -28px;
	}
	&__bottom {
		margin-top: 57px;
		text-align: center;
	}
	&__logo {
		img {
			width: 100px;
			object-fit: contain;
			margin: 0px auto 30px;
		}
	}
	&__right {
		max-width: 727px;
		position: relative;
		padding-top: 88px;
		font-size: 36px;
		line-height: 140%;
		color: #151515;
		margin-top: -30px;
		&:after {
			content: "";
			position: absolute;
			width: 48px;
			height: 48px;
			background-image: url(../img/main-about/quote.svg);
			background-repeat: no-repeat;
			background-size: contain;
			top: 0px;
			left: 0px;
		}
	}
}
@media (max-width: 1335px) {
	.main-about {
		padding-top: 100px;
		padding-bottom: 140px;
		&__wrap {
			padding: 0px 50px 0px 80px;
		}
		&__right {
			max-width: 560px;
			padding-top: 70px;
			font-size: 30px;
			margin-top: -5px;
		}
	}
}
@media (max-width: 1010px) {
	.main-about {
		padding-top: 60px;
		padding-bottom: 100px;
		&__wrap {
			padding: 0px;
		}
		&__logo {
			display: block;
			img {
				margin-bottom: 20px;
			}
		}
		&__top {
			width: 140px;
			height: 140px;
		}
		&__painting {
			width: 120px;
			height: auto;
			right: -30px;
			bottom: -15px;
		}
		&__bottom {
			margin-top: 35px;
		}
		&__right {
			max-width: 450px;
			padding-top: 70px;
			font-size: 25px;
			&:after {
				width: 40px;
				height: 40px;
			}
		}
		.caption {
			margin: 0px auto;
		}
	}
}
@media (max-width: 760px) {
	.main-about {
		padding-top: 40px;
		padding-bottom: 60px;
		&__wrap {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__logo {
			img {
				margin-bottom: 15px;
			}
		}
		&__top {
			width: 120px;
			height: 120px;
		}
		&__painting {
			width: 100px;
			right: -20px;
			bottom: -10px;
		}
		&__bottom {
			margin-top: 25px;
		}
		&__right {
			padding-top: 0px;
			font-size: 20px;
			margin-top: 10px;
			text-align: center;
			&:after {
				display: none;
			}
		}
		.caption {
			margin: 0px auto;
		}
	}
}
