.menu {
	background-color: #151515;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	padding: 110px 144px;
}
.menu__main {
	margin-bottom: 80px;
	ul {
		li {
			margin-bottom: 20px;
			a {
				font-size: 48px;
				line-height: 120%;
				letter-spacing: -0.02em;
				color: #ffffff;
				transition: all 0.3s;
				display: inline-block;

				&:hover {
					color: #e15d13;
				}
			}
		}
	}
}

.menu__smalls {
	max-width: 30%;
	align-items: flex-start;
	ul {
		li {
			margin-bottom: 10px;
			a {
				font-size: 17px;
				line-height: 100%;
				letter-spacing: 0.01em;
				color: #b8b8b8;
				transition: all 0.3s;

				&:hover {
					color: #e15d13;
					transition: all 0.3s;
				}
			}
		}
	}
}
@media (max-width: 1600px) {
	.menu {
		padding: 100px 80px;
	}
}
@media (max-width: 1335px) {
	.menu {
		padding: 80px 40px;
		&__main {
			margin-bottom: 40px;
			ul {
				li {
					margin-bottom: 15px;
					a {
						font-size: 38px;
					}
				}
			}
		}
		&__smalls {
			max-width: 35%;
			ul {
				li {
					a {
						font-size: 16px;
					}
				}
			}
		}
	}
}
@media (max-width: 1010px) {
	.menu {
		padding: 50px 30px;
		&__main {
			margin-bottom: 30px;
			ul {
				li {
					margin-bottom: 10px;
					a {
						font-size: 26px;
					}
				}
			}
		}
		&__smalls {
			max-width: 50%;
			ul {
				li {
					a {
						font-size: 15px;
					}
				}
			}
		}
	}
}
@media (max-width: 760px) {
	.menu {
		padding: 20px 15px;
		&-close {
			top: 10px;
			right: 15px;
			width: 40px;
			height: 40px;
		}
		&__main {
			margin-bottom: 30px;
			ul {
				li {
					margin-bottom: 10px;
					a {
						font-size: 26px;
					}
				}
			}
		}
		&__smalls {
			max-width: 100%;
			ul {
				li {
					a {
						font-size: 15px;
					}
				}
			}
		}
	}
}
