.order {
	padding-top: 140px;
	padding-bottom: 140px;
	background-color: #131313;
	&__content {
		width: 1335px;
	}
	&__left {
		width: 610px;
	}
	&__title {
		letter-spacing: -0.03em;
		color: #fff;
		margin-top: 30px;
		margin-bottom: 87px;
	}
	&__subtitle {
		max-width: 320px;
		font-size: 17px;
		line-height: 140%;
		letter-spacing: 0.01em;
		color: #8c8c8c;
		margin-bottom: 60px;
	}
	&__right {
		width: 410px;
		height: 302px;
		border-left: 1px dashed #4d4d4d;
		padding-left: 109px;
		display: flex;
		align-items: center;
		position: relative;
		left: -112px;
		top: 44px;
	}
	&__caption {
		font-size: 24px;
		line-height: 140%;
		text-align: center;
		color: #ffffff;
		margin-bottom: 40px;
	}
	&__btn {
		width: 142px;
		height: 139px;
		background-color: #e15d13;
		border-radius: 50%;
		font-size: 15px;
		line-height: 100%;
		letter-spacing: 0.006em;
		color: #ffffff;
		margin: 0px auto;
		position: relative;
		z-index: 10;
		overflow: hidden;
		transition: all 0.3s;
		&-icon {
			width: 24px;
			height: 24px;
			margin: 0px auto 16px;
		}
		&-icon {
			margin-bottom: 10px;
		}
		svg {
			& * {
				transition: all 0.3s;
			}
		}
		&:after,
		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -2;
		}
		&:after {
			content: "";
			z-index: -1;
			background-color: #ffffff;
			transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1), border-radius 0.45s cubic-bezier(0.4, 0, 0, 1);
			transform: translateY(100%);
			transform-origin: center bottom;
			border-radius: 70%;
		}
		&:hover {
			color: #e15d13;
			transition: all 0.3s;
			svg {
				& * {
					fill: #e15d13;
					transition: all 0.3s;
				}
			}
			&:after {
				transform: translateY(0);
				border-radius: 0;
			}
		}
	}
	.caption {
		color: #8c8c8c;
	}
	&--thanks {
		background-color: #151515;
		height: 100vh;
		min-height: 700px;
		overflow: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		.caption {
			max-width: 100%;
		}
		.order {
			&__wrap {
				align-items: flex-start;
			}
			&__title {
				margin-top: 24px;
				margin-bottom: 24px;
				max-width: 480px;
			}
		}
	}
}
@media (max-width: 1335px) {
	.order {
		padding-top: 100px;
		padding-bottom: 100px;
		&__content {
			width: 1010px;
		}
		&__subtitle {
			font-size: 16px;
			margin-bottom: 40px;
		}
		&__right {
			width: 320px;
			height: 302px;
			padding-left: 30px;
			left: 0;
			top: 44px;
		}
	}
}
@media (max-width: 1010px) {
	.order {
		padding-top: 80px;
		padding-bottom: 80px;
		&__content {
			width: 100%;
		}
		&__title {
			margin-top: 25px;
			margin-bottom: 30px;
		}
		&__subtitle {
			font-size: 15px;
			margin-bottom: 20px;
		}
		&__wrap {
			justify-content: center;
			flex-wrap: wrap;
		}
		&__left {
			width: 100%;
		}
		&__right {
			width: 320px;
			height: auto;
			padding-left: 0px;
			left: 0;
			top: 0;
			border: none;
			margin-top: 40px;
		}
		&__caption {
			font-size: 22px;
			margin-bottom: 20px;
		}
		&__btn {
			width: 120px;
			height: 120px;
			font-size: 14px;
			&-icon {
				margin-bottom: 10px;
			}
		}
		&--thanks {
			.order {
				&__title {
					margin-top: 20px;
					margin-bottom: 20px;
					max-width: 420px;
				}
				&__right {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 760px) {
	.order {
		padding-top: 60px;
		padding-bottom: 60px;
		&__title {
			margin-top: 15px;
			margin-bottom: 20px;
		}
		&__right {
			width: 100%;
			margin-top: 30px;
		}
		&__caption {
			font-size: 22px;
			margin-bottom: 20px;
		}
		&__btn {
			width: 120px;
			height: 120px;
			font-size: 14px;
			&-icon {
				margin-bottom: 10px;
			}
		}
	}
}
