.services {
	padding-top: 62px;
	padding-bottom: 85px;
	&__items {
		margin-top: 58px;
	}
	&__item {
		border-bottom: 1px solid #4d4d4d;
		padding: 17px 0px;
		transition: all 0.3s;
		&:first-child {
			border-top: 1px solid #4d4d4d;
		}
		&:hover {
			color: #e15d13;
			transition: all 0.3s;
			.services__value {
				color: #e15d13;
				opacity: 1;
			}
		}
	}
	&__caption {
		font-weight: 500;
		font-size: 48px;
		line-height: 120%;
		letter-spacing: -0.02em;
	}
	&__value {
		text-decoration-line: underline;
		opacity: 0;
		transition: all 0.3s;
		span {
			margin-left: 12px;
		}
	}
}
@media (max-width: 1335px) {
	.services {
		padding-top: 40px;
		padding-bottom: 60px;
		&__items {
			margin-top: 35px;
		}
		&__caption {
			font-size: 40px;
		}
	}
}
@media (max-width: 1010px) {
	.services {
		padding-top: 40px;
		padding-bottom: 40px;
		&__items {
			margin-top: 30px;
		}
		&__caption {
			font-size: 30px;
		}
		&__item {
			padding: 15px 0px;
		}
	}
}
@media (max-width: 760px) {
	.services {
		padding-top: 20px;
		padding-bottom: 20px;
		&__items {
			margin-top: 20px;
		}
		&__caption {
			font-size: 26px;
		}
		&__item {
			padding: 12px 0px;
		}
		&__value {
			display: none;
		}
	}
}
