.work {
	padding-top: 124px;
	padding-bottom: 105px;
	&__body {
		display: flex;
		justify-content: space-between;
		margin-bottom: 120px;
		&:first-child {
			margin-bottom: 100px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__left {
		width: calc(100% - 957px);
		&-caption {
			font-weight: 500;
			font-size: 17px;
			line-height: 100%;
			letter-spacing: 0.01em;
			margin-bottom: 16px;
		}
	}
	&__right {
		width: 957px;
		position: relative;
		&-top {
			align-items: flex-start;
		}
		&-bottom {
			max-width: 770px;
			margin-top: -13px;
		}
	}
	&__line {
		width: 522px;
		height: 1.6px;
		background-color: #151515;
	}
	&__img {
		width: 320px;
		height: 210px;
		img {
			display: block;
		}
	}
	&__title {
		margin-top: 80px;
	}
	&__desc {
		max-width: 227px;
		line-height: 140%;
		color: #8c8c8c;
	}
	&__row {
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: -40px;
	}
	&__coll {
		width: 25%;
		justify-content: flex-start;
		margin-bottom: 40px;
		&-caption {
			max-width: calc(100% - 64px);
			line-height: 100%;
			color: #4d4d4d;
		}
	}
	&__icon {
		width: 48px;
		height: 48px;
		margin-right: 16px;
	}
}
@media (max-width: 1335px) {
	.work {
		padding-top: 80px;
		padding-bottom: 80px;
		&__body {
			margin-bottom: 80px;
		}
		&__left {
			width: calc(100% - 700px);
		}
		&__right {
			width: 680px;
		}
		&__line {
			width: calc(100% - 300px);
		}
		&__img {
			width: 280px;
			height: 180px;
		}
		&__title {
			margin-top: 40px;
		}
		&__row {
			margin-bottom: -20px;
		}
		&__coll {
			margin-bottom: 20px;
			&-caption {
				max-width: calc(100% - 55px);
				font-size: 13px;
			}
		}
		&__icon {
			width: 40px;
			height: 40px;
			margin-right: 10px;
		}
	}
}
@media (max-width: 1010px) {
	.work {
		padding-top: 60px;
		padding-bottom: 60px;
		&__body {
			margin-bottom: 40px;
			flex-wrap: wrap;
			&:first-child {
				margin-bottom: 40px;
			}
		}
		&__left {
			width: 100%;
		}
		&__right {
			width: 100%;
			margin-top: 20px;
		}
		&__title {
			margin-top: 20px;
			max-width: 410px;
		}
		&__desc {
			max-width: 280px;
		}
	}
}
@media (max-width: 760px) {
	.work {
		padding-top: 40px;
		padding-bottom: 40px;
		&__body {
			margin-bottom: 40px;
			&:first-child {
				margin-bottom: 20px;
			}
		}
		&__left {
			width: 100%;
			&-caption {
				margin-bottom: 0;
			}
		}
		&__right {
			margin-top: 15px;
			&-bottom {
				margin-top: -15px;
			}
		}
		&__line {
			width: calc(100% - 255px);
		}
		&__img {
			width: 240px;
			height: 160px;
		}
		&__title {
			margin-top: 15px;
		}
		&__row {
			margin-bottom: -10px;
		}
		&__coll {
			width: 50%;
			margin-bottom: 10px;
		}
		&__icon {
			width: 35px;
			height: 35px;
		}
		&__desc {
			max-width: 280px;
			margin-top: 15px;
		}
	}
}
