.page {
	overflow: hidden;
	max-width: 1600px;
	margin: 0px auto;
}
.site {
	z-index: 2;
	position: relative;
	background: #fff;
	transition: 0.3s all;
	&.site--active {
		z-index: 2;
		position: relative;
		background: #fff;
		transform: rotate(-18deg) translate(78%, 6%);
		max-width: 1600px;
		margin: 0 auto;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;
		-moz-transition: 0.3s all;
		-ms-transition: 0.3s all;
		-o-transition: 0.3s all;
		-webkit-transform: rotate(-18deg) translate(78%, 6%);
		-moz-transform: rotate(-18deg) translate(78%, 6%);
		-ms-transform: rotate(-18deg) translate(78%, 6%);
		-o-transform: rotate(-18deg) translate(78%, 6%);
	}
}

.wrapper {
	max-width: 1335px;
	margin: 0px auto;
	padding: 0px 15px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-cover img,
.svg-cover svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-contain img,
.svg-contain svg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.btn {
	font-family: "GraphikLCG", sans-serif;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 17px;
	line-height: 100%;
	color: #ffffff;
	padding: 21px 30px;
	border-radius: 18px;
	background-color: #da251d;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
}

.field {
	width: 100%;
	font-family: "GraphikLCG", sans-serif;
	background-color: transparent;
	font-weight: 400;
	font-size: 18px;
	line-height: 110%;
	letter-spacing: -0.04em;
	color: #141516;
	padding: 12px 26px 16px;
	border: none;
	border-bottom: 1px solid #a9b2b5;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: all 0.3s ease;
	resize: none;
	&::-webkit-input-placeholder {
		color: #5f6266;
	}
	&::-moz-placeholder {
		color: #5f6266;
	}
	&:-moz-placeholder {
		color: #5f6266;
	}
	&:-ms-input-placeholder {
		color: #5f6266;
	}
	&:focus {
		border-color: #5bc16c;
		color: #141516;
	}
}

.title {
	font-weight: 500;
	font-size: 48px;
	line-height: 122%;
	letter-spacing: -0.02em;
	color: #151515;
	&_big {
		font-size: 64px;
		line-height: 94%;
		letter-spacing: -0.03em;
	}
}

.caption {
	max-width: 200px;
	font-family: "IBM Plex Mono", monospace;
	font-size: 13px;
	line-height: 164%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #4d4d4d;
}

.link {
	display: inline-block;
	text-decoration-line: underline;
	color: #e15d13;
}

.arrow {
	width: 24px;
	height: 24px;
	cursor: pointer;
	svg {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		& * {
			transition: all 0.3s;
		}
	}
	&--next {
		margin-left: 12px;
	}
	&:hover {
		svg {
			& * {
				fill: #da251d;
				transition: all 0.3s;
			}
		}
	}
}

@media (max-width: 1335px) {
	.wrapper {
		max-width: 1010px;
	}
}
@media (max-width: 1010px) {
	.wrapper {
		max-width: 750px;
	}
}
@media (max-width: 760px) {
}
